.ipynb_checkpoints/
TP2/glove.6B.100d.txt
TP2/glove.6B.200d.txt
TP2/glove.6B.50d.txt
TP2/glove.twitter.27B.100d.txt
TP2/glove.twitter.27B.200d.txt
TP2/glove.twitter.27B.25d.txt
TP2/glove.twitter.27B.50d.txt
TP2/glove.840B.300d.pkl
TP2/crawl-300d-2M.pkl
TP2/glove.840B.300d.txt
TP2/perfect_submission.csv
TP2/Embeddings/glove.twitter.27B.50d.txt
TP2/Embeddings/glove.twitter.27B.25d.txt
TP2/Embeddings/glove.twitter.27B.200d.txt
TP2/Embeddings/glove.twitter.27B.100d.txt
TP2/Embeddings/glove.840B.300d.txt
TP2/Embeddings/glove.840B.300d.pkl
TP2/Embeddings/glove.6B.50d.txt
TP2/Embeddings/glove.6B.200d.txt
TP2/Embeddings/glove.6B.100d.txt
TP2/Embeddings/crawl-300d-2M.pkl
TP2/processed_test_nosw.csv
TP2/processed_train_nosw.csv
TP2/CSVs no usados/perfect_submission.csv
